@import "tailwindcss";
@import "@nuxt/ui";

@theme inline {
  --font-sans: 'Public Sans', sans-serif;

  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);

  --color-brand-parte2-50: var(--brand-parte2-50);
  --color-brand-parte2-100: var(--brand-parte2-100);
  --color-brand-parte2-200: var(--brand-parte2-200);
  --color-brand-parte2-300: var(--brand-parte2-300);
  --color-brand-parte2-400: var(--brand-parte2-400);
  --color-brand-parte2-500: var(--brand-parte2-500);
  --color-brand-parte2-600: var(--brand-parte2-600);
  --color-brand-parte2-700: var(--brand-parte2-700);
  --color-brand-parte2-800: var(--brand-parte2-800);
  --color-brand-parte2-900: var(--brand-parte2-900);
  --color-brand-parte2-950: var(--brand-parte2-950);
}

:root {
  --brand-50: #EFFDF5;
  --brand-100: #D9FBE8;
  --brand-200: #B3F5D1;
  --brand-300: #75EDAE;
  --brand-400: #00DC82;
  --brand-500: #00C16A;
  --brand-600: #00A155;
  --brand-700: #007F45;
  --brand-800: #016538;
  --brand-900: #0A5331;
  --brand-950: #052E16;
  --brand-fondo: #f9fafb;
  --brand-parte2: #0f172a;
  --brand-parte2-50: #f8fafc;
  --brand-parte2-100: #f1f5f9;
  --brand-parte2-200: #e2e8f0;
  --brand-parte2-300: #cbd5e1;
  --brand-parte2-400: #94a3b8;
  --brand-parte2-500: #64748b;
  --brand-parte2-600: #475569;
  --brand-parte2-700: #334155;
  --brand-parte2-800: #1e293b;
  --brand-parte2-900: #0f172a;
  --brand-parte2-950: #020617;
}

html.dark {
  --brand-fondo: #020617;
  --brand-parte2: #f8fafc;
}
